body {
  font-family: 'Inter', sans-serif;
}

.display {
  display: flex;
}

.background {
  width: 550px;
  height: 868px;
  background-color: #23252C;
}

.navbar-section {
  position: absolute;
}

.profile-photo {
  position: absolute;
 width: 317px;
 height: 317px;
 object-fit: cover;
 margin-top: 44px;
 margin-left: 116px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}

.main-section {
  position: absolute;
  height: 399px;
  width: 317px;
  background-color: #1A1B21;
  margin-top: 361px;
  margin-left: 116px;
}

.footer-section {
  position: absolute;
  height: 64px;
  width: 317px;
  background-color: #161619;
  margin-top: 760px;
  margin-left: 116px;

}

.pic-container {
  margin: 19px 73px 20px 73px;
  display: flex;
  justify-content: space-between;

}

.social-pic {
  width: 25px;
  height: 25px;
}

h1 {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  margin-top: 21px;
  text-align: center;
}

h4 {
  color: #F3BF99;
  font-size: 12.8px;
  text-align: center;
  margin: 0;
  margin-top: 6px;
  font-weight: 400;
}

h5 {
  text-align: center;
  font-weight: 400;
  color: #F5F5F5;
  margin: 0;
  margin-top: 9px;
}

.button-row {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 35px;
}

.button-row > a > button {
  border-radius: 6px;
  width: 115px;
  height: 34px;
}

a {
  text-decoration: none;
}

.email-button {
  padding-left: 28.1px;
  font-size: 14px;
  padding-right: 28.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  color: #374151;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.linkedin-button {
  padding-left: 17.33px;
  font-size: 14px;
  padding-right: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5093E2;
  color: #FFFFFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

h3, p {
  color: rgba(220, 220, 220, 1);
  margin-left: 36px;
  width: 247px;
}

p {
  font-size: 10.24px;
  font-weight: 400;

}

h3 {
  font-size: 16px;
  font-weight: 700;
}

.main-section > h3:first-of-type {
  margin-top: 33px
};

